/** {*/
/*padding: 0;*/
/*margin: 0;*/
/*}*/

/*a, ul {*/
/*list-style: none;*/
/*text-decoration: none;*/
/*}*/
/*html{*/
/*font-size: 625%;*/
/*}*/
body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.header {
    line-height: 44px;
    position: relative;
    background-color: orange;
}

.header h3 {
    text-align: center;
    color: white;
}

.header a {
    color: white;
    position: absolute;
    top: 0;
}

.header a:first-child {
    left: 15px;
}

.header a:last-child {
    right: 15px;
}

.section {
    flex: 1;
}

.content {
    display: flex;
}

.content .left {
    flex: 2;
}

.left li {
    line-height: 44px;
    border: 1px solid #ccc;
    border-left: none;
    text-align: center;
    background-color: #eee;
}

.left li.bg {
    background-color: white;
    border: none;
}

.left li:nth-child(1) {
    border-bottom: none;
}

.left li:nth-child(2) {
    border-bottom: none;
}

.left li:nth-child(3) {
    border-bottom: none;
}
.left li:nth-child(4) {
    border-bottom: 1px solid #ccc;
}

.content .right {
    flex: 5;
    padding-left: 15px;
}

.right li {
    padding: 13.5px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

.right li .radio {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1.5px solid orange;

}

.price-bg {
    color: orange;
}

.rad-one {
    background-color: orange;
}

.radio.rad-one:after {
    content: '';
    display: block;
    width: 6px;
    height: 12px;
    border-bottom: solid #fff 2px;
    border-right: solid #fff 2px;
    transform: rotateZ(45deg);
    margin: 2px auto;
}

.radio.rad-two {
    background: none;
}

.footer {
    line-height: 44px;
    background: #ccc;
    padding-left: 10px;
}
